:root {
  --icon-color-light: #333; /* Default color for light mode */
  --icon-color-dark: #333  /* Color for dark mode */
}

body {
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffffb1;
  position: relative; /* Add position relative here */
}

.toggle-button {
  position: absolute;
  top: 10px; /* Adjust top as necessary for vertical positioning */
  right: 10px; /* Closer to the right edge */
  z-index: 1000;
  border-radius: 10px;
  /* Add any other styling needed for the button here */
}


.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #c2b9b9;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 5px;
  width: 95%;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 160px; /* Adjust based on the height of your header */
}

.app.dark {
  background: #333;
  color: #fff;
}

.instruction-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 30px;
}

.instruction-container p {
  margin-left: 10px;
  font-size: 16px;
  font-size: 30px;

}

.editor-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editor {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: white;
  min-height: 300px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
  font-family: 'Consolas', 'Monaco', monospace;
  font-size: 16px;
  resize: vertical;
  margin-top: 20px;
}

.copy-icon {
  position: absolute;
  right: 90px;
  top: 35px;
  cursor: pointer;
  color: var(--icon-color-light); /* Default color for light mode */
}

.app.dark .copy-icon {
  color: var(--icon-color-dark); /* Color for dark mode */
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  width: 30%;
  border-radius: 10px;
}

button {
  padding: 10px 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: #45a049;
}

.error {
  color: #dc3545;
  margin-top: 10px;
}

.header-text {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;  
  font-size: 24px;   
  color: #0c0202; 
  font-size: xx-large;
}


/* Dark mode style */
.app.dark .header-text {
  color: #fff; /* Light text for dark background */
}

.footer {
  width: 100%;
  padding: 60px;
  text-align: right;
  font-size: 14px;
  color: #666;
  margin-top: 40px;
}

.header {
  display: flex;
  justify-content: space-between; /* Ensures the title and toggle button are on opposite sides */
  align-items: center; /* Centers items vertically */
  width: 100%; /* Ensures it takes full width */
  padding: 10px 20px; /* Provides padding inside the navbar */
  background-color: #333; /* Background color for the navbar */
  color: #fff; /* Text color for the navbar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds shadow for depth */
  position: fixed; /* Fixes the navbar at the top */
  top: 0;
  left: 0;
  z-index: 1000; /* Ensures navbar stays on top */
}

.info-section {
  width: 90%;
  margin: 20px auto;
  margin-top: 220px; /* Increase this value to push the section further down */
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: left;
}

.app.dark .info-section {
  color:#0c0202
}