:root {
  --icon-color-light: #333; /* Default color for light mode */
  --icon-color-dark: #333; /* Color for dark mode */
}

body {
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffffb1;
  position: relative;
}

.toggle-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  border-radius: 10px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #c2b9b9;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 5px;
  width: 95%;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 140px; 
  padding-left: 40px;/* Adjust based on the height of your header */
}

.app.dark {
  background: #333;
  color: #fff;
}

.instruction-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 30px;
}

.instruction-container p {
  margin-left: 10px;
  font-size: 30px;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 95%;
  max-width: 1600px;
  margin: 100px auto 20px;
}

.info-section, .editor-container {
  flex: 1;
  padding: 20px;
  min-height: 300px;
}

.app.dark, .info-section {
  color:#333

} 

.info-section {
  margin-right: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: left;
}

.editor-container {
  position: relative;
  width: 90%; /* Match the editor width for alignment */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* Center the container */
}

.editor {
  width: auto; /* Adjusted to fill flex container */
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: white;
  min-height: 300px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
  font-family: 'Consolas', 'Monaco', monospace;
  font-size: 16px;
  resize: vertical;
  margin-top: 100px;
}

.editor-container .copy-icon {
  position: absolute; /* Adjust as necessary */
  right: 25px; /* Right inside the editor container */
  top: 130px; /* Positioned at the top of the editor */
  z-index: 10; /* Ensure it's above other elements */
}


.app.dark .copy-icon {
  color: #333;  
}


.button-container {
  width: 50%; /* Make the button container take the full width of the editor container */
  display: flex;
  justify-content: space-around; /* Keep this to space the buttons equally */
  margin-top: 20px; /* Space between the editor and the buttons */
}

button {
  padding: 10px 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: #45a049;
}

.error {
  color: #dc3545;
  margin-top: 10px;
}

.footer {
  width: 100%;
  text-align: right;
  font-size: 14px;
  color: #666;
  margin-top: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.message {
  color: #28a745; /* Green color for success messages */
  margin-top: 10px;
  font-size: 16px;
}
